In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("NREL_Community_Solar_Project_List/Project List-Table 1.csv")

In [4]:
df.head()

,Project Name,City,State,Utility,System Size (kW),Year of Interconnection,Co-located Projects,Ciy Lat,City Long
0,Ouachita Headquarters Community Array,Camden,AR,Ouachita Electric Cooperative,93.0,2016.0,NaN,33.584558,-92.834329
1,Holly Springs Community Solar,Holly Springs,AR,Ouachita Electric Cooperative,1000.0,2017.0,NaN,33.815383,-92.709605
2,Bearskin Community Solar Center,Scott,AR,Entergy,150.0,2015.0,NaN,34.696500,-92.096300
3,One Solar program,Springdale,AR,Ozarks Electric Cooperative Corp.,1000.0,2016.0,NaN,36.186744,-94.128814
4,Bright Tucson Community Solar Program,Florence,AZ,Tucson Electric Power,22300.0,2011.0,NaN,32.220000,-110.960000

In [5]:
df.shape

(543, 9)

In [6]:
df.State.value_counts()

MA    121
MN     97
CO     79
VT     25
WA     25
WI     20
NY     19
NC     15
ME     13
DC     12
SC     10
IA     10
TX      9
OR      9
GA      7
MI      7
AZ      6
NE      6
FL      6
OK      5
MT      5
MO      4
AR      4
TN      4
KS      3
KY      3
UT      3
IN      3
IL      2
NV      2
DE      1
ND      1
VA      1
PA      1
NM      1
MD      1
OH      1
ID      1
NJ      1
Name: State, dtype: int64

In [7]:
df.columns

Index(['Project Name', 'City', 'State', 'Utility', 'System Size (kW)',
       'Year of Interconnection', 'Co-located Projects', 'Ciy Lat',
       'City Long'],
      dtype='object')