In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("NREL_Community_Solar_Project_List/Project List-Table 1.csv")

In [4]:
df.head()

,Project Name,City,State,Utility,System Size (kW),Year of Interconnection,Co-located Projects,Ciy Lat,City Long
0,Ouachita Headquarters Community Array,Camden,AR,Ouachita Electric Cooperative,93.0,2016.0,NaN,33.584558,-92.834329
1,Holly Springs Community Solar,Holly Springs,AR,Ouachita Electric Cooperative,1000.0,2017.0,NaN,33.815383,-92.709605
2,Bearskin Community Solar Center,Scott,AR,Entergy,150.0,2015.0,NaN,34.696500,-92.096300
3,One Solar program,Springdale,AR,Ozarks Electric Cooperative Corp.,1000.0,2016.0,NaN,36.186744,-94.128814
4,Bright Tucson Community Solar Program,Florence,AZ,Tucson Electric Power,22300.0,2011.0,NaN,32.220000,-110.960000

In [5]:
df.shape

(543, 9)

In [6]:
df.State.value_counts().head(10)

MA    121
MN     97
CO     79
WA     25
VT     25
WI     20
NY     19
NC     15
ME     13
DC     12
Name: State, dtype: int64

In [7]:
df.columns

Index(['Project Name', 'City', 'State', 'Utility', 'System Size (kW)',
       'Year of Interconnection', 'Co-located Projects', 'Ciy Lat',
       'City Long'],
      dtype='object')

In [24]:
df['Year of Interconnection'].value_counts().to_frame().sort_index()

        Year of Interconnection
2000.0                        1
2006.0                        1
2007.0                        1
2008.0                        3
2009.0                        2
2010.0                        1
2011.0                       16
2012.0                       10
2013.0                       21
2014.0                       43
2015.0                       90
2016.0                      136
2017.0                      151
2018.0                       12

In [7]:
MA = df[df.State == "MA"]

In [8]:
MA.shape

(121, 9)

In [27]:
MA.sort_values(by='Year of Interconnection', ascending=False)

,Project Name,City,State,Utility,System Size (kW),Year of Interconnection,Co-located Projects,Ciy Lat,City Long
232,Community First,Sterling,MA,Sterling Municipal Light Department,1572.327,2018.0,NaN,42.439324,-71.769733
257,Ballardvale RMLD,Wilmington,MA,Reading Municipal Light Department,1333.760,2017.0,NaN,42.990321,-85.953081
234,BWC George Vinton,Sturbridge,MA,National Grid,1285.200,2017.0,NaN,42.202439,-72.207723
188,New Braintree Solar,New Braintree,MA,National Grid,657.000,2017.0,NaN,42.548699,-72.132858
187,Monson Solar,Monson,MA,National Grid,2597.760,2017.0,NaN,42.095648,-72.324270
186,Millbury 19,Millbury,MA,National Grid,681.390,2017.0,NaN,42.191758,-71.766786
185,BWC Mystic River,Mendon,MA,National Grid,1389.960,2017.0,NaN,42.103169,-71.560085
233,BWC Hobbs Brook,Sturbridge,MA,National Grid,1159.200,2017.0,NaN,42.202439,-72.207723
181,Kingston 1 CEC Solar #1040,Kingston,MA,Eversource,1118.720,2017.0,NaN,41.978224,-70.742817
172,Hatfield Renewables,Hatfield,MA,Eversource,2465.280,2017.0,NaN,42.316758,-72.125911
180,Kingston CEC Solar #1041,Kingston,MA,Eversource,899.840,2017.0,NaN,41.978224,-70.742817
179,Gardner Road Solar 2,Hubbardston,MA,National Grid,1359.360,2017.0,Gardner Road Solar,42.116761,-71.864758
178,Gardner Road Solar 1,Hubbardston,MA,National Grid,1298.080,2017.0,Gardner Road Solar,42.116761,-71.864758
177,NaN,Hopkington,MA,NaN,280.000,2017.0,NaN,42.228700,-71.522600
217,Rochester,Rochester,MA,Eversource,1060.200,2017.0,NaN,41.755118,-70.835723
175,Mt. Tom Solar,Holyoke,MA,Holyoke Gas and Electric,5764.680,2017.0,NaN,42.700915,-73.108715
189,Newbury Solar,Newbury,MA,National Grid,2409.750,2017.0,NaN,42.773459,-70.873160
190,North Adams A,North Adams,MA,National Grid,1316.700,2017.0,NaN,42.682676,-73.114710
191,North Adams B,North Adams,MA,National Grid,1316.700,2017.0,NaN,42.682676,-73.114710
192,Norton Development,Norton,MA,National Grid,1400.580,2017.0,NaN,41.961105,-71.190463
193,"Ngrid SS Orange A, CEC Solar #1062",Orange,MA,National Grid,1064.700,2017.0,NaN,41.955895,-70.814843
222,Sturbridge 73,Southbridge,MA,National Grid,1234.800,2017.0,NaN,42.075100,-72.033400
221,Barkus,Shirley,MA,National Grid,1082.880,2017.0,NaN,42.579299,-71.640070
205,CEC Solar #1033,Phillipston,MA,National Grid,1316.700,2017.0,NaN,42.553845,-72.147311
206,zp-67,Phillipston,MA,National Grid,1411.200,2017.0,NaN,42.553845,-72.147311
207,Lot 59-2,Plymouth,MA,Eversource,1232.910,2017.0,NaN,41.873131,-70.618272
208,Cedarville-Callahan,Plymouth,MA,Eversource,1390.040,2017.0,NaN,41.873131,-70.618272
220,NRG Freeman Solar 2,Sandwich,MA,Eversource,1033.200,2017.0,NaN,41.706541,-70.477924
219,Rutland Solar,Rutland,MA,National Grid,1295.910,2017.0,NaN,42.150035,-71.763288
211,Lake Street Project,Plympton,MA,Eversource,1371.000,2017.0,NaN,41.970574,-70.807772
...,...,...,...,...,...,...,...,...,...
194,BWC Stillwater Four,Oxford,MA,National Grid,622.275,2016.0,Barrett Street Project,42.382588,-71.965706
138,Arlington Church Project,Arlington,MA,Eversource,19.800,2016.0,NaN,42.416795,-71.170553
197,BWC Stillwater Two,Oxford,MA,National Grid,1414.320,2016.0,Barrett Street Project,42.382588,-71.965706
198,BWC Clara Barton,Oxford,MA,National Grid,1445.860,2016.0,NaN,42.382588,-71.965706
199,BWC French River One,Oxford,MA,National Grid,2668.000,2016.0,Barrett Street Project,42.382588,-71.965706
200,BWC French River Three,Oxford,MA,National Grid,2788.800,2016.0,Barrett Street Project,42.382588,-71.965706
201,BWC French River Five,Oxford,MA,National Grid,1414.320,2016.0,Barrett Street Project,41.970574,-70.807772
202,BWC French River Four,Oxford,MA,National Grid,2762.400,2016.0,Barrett Street Project,41.955895,-70.814843
203,BWC French River Two,Oxford,MA,National Grid,2665.495,2016.0,Barrett Street Project,41.843529,-71.247228
204,Tully Farms,Pepperell,MA,National Grid,1344.135,2016.0,NaN,42.664759,-71.595685
209,CEC Solar #1082,Plympton,MA,Eversource,1335.150,2016.0,NaN,41.970574,-70.807772
149,Carver Community Solar (CEC Solar #1043),Carver,MA,Eversource,2694.000,2016.0,NaN,42.341757,-72.588422
146,Cornerstone Village CoHousing,Cambridge,MA,Eversource,45.453,2015.0,NaN,42.440719,-72.799399
250,87 Spring Street Solar,Warren,MA,National Grid,1328.040,2015.0,NaN,43.684420,-70.291875
249,70 Ware Road Solar,Warren,MA,National Grid,1339.200,2015.0,NaN,44.241407,-70.487337
145,"Cambridge Community Housing, Inc",Cambridge,MA,Eversource,26.400,2015.0,NaN,42.440719,-72.799399
137,Adams Community Array 1,Adams,MA,National Grid,1384.320,2015.0,NaN,42.043366,-71.927603
161,27 Locust Street Solar,Freetown,MA,Eversource,1113.210,2015.0,NaN,41.764752,-71.009997
167,Brodie Mtn Road Solar,Hancock,MA,National Grid,2258.960,2015.0,NaN,42.527344,-73.321664
173,Holliston Field 2,Holliston,MA,Eversource,343.200,2015.0,NaN,42.700915,-73.108715
142,Bourne Community Solar 1,Bourne,MA,Eversource,1300.000,2015.0,NaN,42.583423,-71.802296
182,Sippican Community Solar Garden,Marion,MA,Eversource,912.000,2015.0,NaN,41.717672,-70.777716
215,Ngrid SE Solar Array 1 Rehoboth,Rehoboth,MA,National Grid,996.600,2014.0,NaN,41.843529,-71.247228
165,WMECO Solar Array 1 Huntington,Hadley,MA,Eversource,996.600,2014.0,Allard's Farm Community Solar,41.717672,-70.777716
170,Harvard Solar Garden II,Harvard,MA,National Grid,54.710,2014.0,Harvard Solar Garden,42.499780,-71.585135
171,Harvard Solar Garden I,Harvard,MA,National Grid,500.000,2014.0,Harvard Solar Garden,42.499780,-71.585135
143,Brewster Community Solar Garden Cooperative,Brewster,MA,Eversource,345.600,2012.0,NaN,41.747186,-70.067976
214,Fitz Plumpton,Plympton,MA,Eversource,1320.000,NaN,NaN,41.970574,-70.807772
247,Wareham Community Solar Array,Wareham,MA,Eversource,2694.000,NaN,NaN,44.376109,-68.260981
248,Nextsun Wareham 2,Wareham,MA,Eversource,1389.420,NaN,NaN,43.890021,-69.996926

In [28]:
MA.to_csv("MA_solar_gardens.csv", index=False)

In [29]:
MA['Year of Interconnection'].value_counts()

2017.0    60
2016.0    42
2015.0    10
2014.0     4
2018.0     1
2012.0     1
Name: Year of Interconnection, dtype: int64

In [30]:
df.sort_values(by='System Size (kW)', ascending=False).head(10)

,Project Name,City,State,Utility,System Size (kW),Year of Interconnection,Co-located Projects,Ciy Lat,City Long
112,HazleHurst 20,HazleHurst,GA,Green Power EMC,28000.00,2016.0,NaN,31.860952,-82.602588
4,Bright Tucson Community Solar Program,Florence,AZ,Tucson Electric Power,22300.00,2011.0,NaN,32.220000,-110.960000
9,Copper Crossing,Tempe,AZ,Salt River Project,20000.00,2011.0,NaN,33.440000,-111.950000
105,Tallahassee Solar,Tallahassee,FL,City of Tallahassee Utility,20000.00,2018.0,NaN,42.187439,-92.465877
470,Subscriber Solar Program,Millard County,UT,Rocky mountain power,20000.00,2016.0,NaN,43.138300,-72.509500
409,Valley Community Solar,Pahrump,NV,Valley Electric Association,17500.00,2017.0,NaN,36.860026,-101.213495
431,OGE 10 MW Facility,Covington,OK,Oklahoma Gas and Electric Co.,15723.27,2018.0,NaN,36.307702,-97.588559
104,Kenneth P. Ksionek Community Solar Farm,Orlando,FL,Orlando Utilities Commission,13000.00,2017.0,NaN,43.381023,-92.920460
110,Azalea Solar Farm,Davisboro,GA,Cobb EMC,12106.92,2013.0,NaN,32.584800,-82.353300
136,Cooperative Solar Farm One,Winchester,KY,East Kentucky Power Cooperative,8500.00,2017.0,NaN,38.002573,-84.195599