In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("energy_prod_ShiftProject.xls")

In [3]:
df.head()

,World TOP 20 Countries with highest primary energy production in 2014 (Mtoe),,Biodiesel,Biomass and Waste Elec,Coal,Fuel Ethanol,Gas,Geothermal Elec,Hydroelectricity,Nuclear,Oil,"Solar, Tide and Wave Elec",Wind Elec
0,United States of America,NaN,3.02846,6.79025,462.162,28.3345,665.602,1.59664,22.2957,207.683,708.333,1.61766,15.6578
1,China,NaN,0.675906,3.7451,1622.25,1.27589,113.153,0.0139295,76.5262,34.0238,231.781,1.02452,12.7573
2,Russian Federation & U.S.S.R.,NaN,-,0.240757,170.44,-,547.823,0.0434222,15.2977,44.047,550.184,-,0.000343938
3,Saudi Arabia,NaN,-,-,-,-,98.0778,-,-,-,589.257,-,-
4,Canada,NaN,0.172804,0.634566,36.7992,1.07347,138.876,-,32.2695,26.2959,222.21,0.0682439,0.988954

In [5]:
df.dtypes

World TOP 20 Countries with highest primary energy production \n in 2014 (Mtoe)     object
                                                                                   float64
Biodiesel                                                                           object
Biomass and Waste Elec                                                              object
Coal                                                                                object
Fuel Ethanol                                                                        object
Gas                                                                                 object
Geothermal Elec                                                                     object
Hydroelectricity                                                                    object
Nuclear                                                                             object
Oil                                                                                 object
Solar, Tide and Wave Elec                                                           object
Wind Elec                                                                           object
dtype: object

In [8]:
df.shape
df.to_csv("energy_prod_ShiftProject.csv", index=False)

In [13]:
df = pd.read_csv("energy_prod_ShiftProject.csv", na_values=["-"])

In [15]:
df.dtypes

World TOP 20 Countries with highest primary energy production \n in 2014 (Mtoe)     object
                                                                                   float64
Biodiesel                                                                          float64
Biomass and Waste Elec                                                             float64
Coal                                                                               float64
Fuel Ethanol                                                                       float64
Gas                                                                                float64
Geothermal Elec                                                                    float64
Hydroelectricity                                                                   float64
Nuclear                                                                            float64
Oil                                                                                float64
Solar, Tide and Wave Elec                                                          float64
Wind Elec                                                                          float64
dtype: object

In [17]:
df.sort_values(by='Oil', ascending=False).head(10)

,World TOP 20 Countries with highest primary energy production in 2014 (Mtoe),,Biodiesel,Biomass and Waste Elec,Coal,Fuel Ethanol,Gas,Geothermal Elec,Hydroelectricity,Nuclear,Oil,"Solar, Tide and Wave Elec",Wind Elec
0,United States of America,NaN,3.028458,6.790251,462.162002,28.334482,665.601566,1.596644,22.295676,207.683366,708.333056,1.617655,15.657772
3,Saudi Arabia,NaN,NaN,NaN,NaN,NaN,98.077848,NaN,NaN,NaN,589.256869,NaN,NaN
2,Russian Federation & U.S.S.R.,NaN,NaN,0.240757,170.439639,NaN,547.823185,0.043422,15.297678,44.047005,550.183610,NaN,0.000344
1,China,NaN,0.675906,3.745104,1622.245391,1.275886,113.152698,0.013929,76.526225,34.023815,231.780680,1.024524,12.757330
4,Canada,NaN,0.172804,0.634566,36.799223,1.073466,138.875599,NaN,32.269519,26.295915,222.209725,0.068244,0.988954
11,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,53.816563,NaN,NaN,NaN,175.939516,0.001638,NaN
8,Iran (Islamic Republic of),NaN,NaN,0.002197,0.690758,NaN,159.495921,NaN,1.266638,1.078715,171.077529,NaN,0.025795
14,Iraq,NaN,NaN,NaN,NaN,NaN,1.139768,NaN,0.351193,NaN,170.908667,NaN,NaN
10,Brazil,NaN,2.466965,4.908947,0.000022,14.541220,20.530705,NaN,33.283061,4.008703,149.532125,0.000070,0.555890
13,Mexico,NaN,0.016148,0.259840,6.478108,NaN,44.348574,0.539267,3.307810,2.426066,142.549333,0.010693,0.419920

In [18]:
df = pd.read_csv("usretechnicalpotential.csv")

In [20]:
df.head()

,Unnamed: 0,urbanUtilityScalePV_GWh,urbanUtilityScalePV_GW,urbanUtilityScalePV_km2,ruralUtilityScalePV_GWh,ruralUtilityScalePV_GW,ruralUtilityScalePV_km2,rooftopPV_GWh,rooftopPV_GW,CSP_GWh,...,biopowerGaseous_GWh,biopowerGaseous_GW,biopowerGaseous_Tonnes-CH4,geothermalHydrothermal_GWh,geothermalHydrothermal_GW,EGSGeothermal_GWh,EGSGeothermal_GW,hydropower_GWh,hydropower_GW,hydropower_countOfSites
0,Alabama,35850,20,426,3706838,2114,44058,15475.0,12,0,...,1533,0,326186,0,0,535489.0,67.0,4102,0,2435
1,Alaska,166,0,2,8282976,9005,187608,NaN,1,0,...,61,0,13156,15437,1,NaN,NaN,23675,5,3053
2,Arizona,121305,52,1096,11867693,5147,107230,22736.0,14,12544333,...,837,0,178188,8329,1,1239147.0,157.0,1303,0,1958
3,Arkansas,28960,15,332,4986388,2747,57239,8484.0,6,0,...,1063,0,226178,0,0,628621.0,79.0,6093,1,3268
4,California,246008,111,2320,8855917,4010,83549,106411.0,75,8490916,...,15510,1,3300211,130921,16,1344179.0,170.0,30023,6,9692

In [21]:
df.shape

(51, 31)